<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='next/dest/css/next.css') }}" />
        <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <script src="http://d3js.org/topojson.v1.min.js"></script>
        <script src="static/next/dest/js/next.js"></script>
        <script src="static/Data.js"></script>
        <link rel="stylesheet" href="static/ToplogyViaApi.css">
        <script src="static/TopologyViaApi.js"></script>
        <script src="static/Application.js"></script>
    </head>
    <body>
    </body>
</html>
